parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 of callable callable\(callable\(false\)\: false\|false\)\: void expects \(callable\(false\)\: false\)\|false, true given\.$#'
			identifier: argument.type
			count: 1
			path: src/Hooks/Hooks.php

		-
			message: '#^Method Xocdr\\Tui\\Rendering\\Lifecycle\\RuntimeLifecycle\:\:start\(\) should return Xocdr\\Tui\\Ext\\Instance but returns Xocdr\\Tui\\Ext\\Instance\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Rendering/Lifecycle/RuntimeLifecycle.php

		-
			message: '#^Parameter \#1 \$data of method Xocdr\\Tui\\Rendering\\Render\\ComponentRenderer\:\:arrayToNode\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rendering/Render/ComponentRenderer.php

		-
			message: '#^Parameter \#1 \$style of method Xocdr\\Tui\\Contracts\\RenderTargetInterface\:\:createBox\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rendering/Render/ComponentRenderer.php

		-
			message: '#^Parameter \#2 \$style of method Xocdr\\Tui\\Contracts\\RenderTargetInterface\:\:createText\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rendering/Render/ComponentRenderer.php

		-
			message: '#^Method Xocdr\\Tui\\Runtime\:\:getRootNode\(\) should return Xocdr\\Tui\\Components\\Component\|null but returns Xocdr\\Tui\\Ext\\Box\|Xocdr\\Tui\\Ext\\Text\.$#'
			identifier: return.type
			count: 1
			path: src/Runtime.php

		-
			message: '#^PHPDoc tag @var with type array\<string\> is not subtype of native type string\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Styling/Drawing/Buffer.php

		-
			message: '#^Parameter \#1 of callable callable\(callable\(false\)\: false\|false\)\: void expects \(callable\(false\)\: false\)\|false, true given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/Testing/MockHooks.php

		-
			message: '#^Call to function is_string\(\) with object will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Support/Testing/TestRenderer.php
